<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Eta Ping Pong</title>


    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link th:href="@{/app.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand" href="#">Eta</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/}">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rankings}">Rankings</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/rules}">Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tournament</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

    </div>
    <!-- /.container -->
</nav>

<!-- Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rules
                <small>of Ping Pong</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <h4>Table Tennis Rules</h4>

            <h3>What you need to know to play a fun game of ping-pong</h3>

            <p>Sometimes all you want to know are the basic rules to play a friendly match of ping pong. This section is
                for you. However if you want the official rules, then read this.</p>

            <p>In singles, the center lines serve no purpose, so ignore them.</p>

            <h3>Scoring</h3>

            <p>A match is played best 3 of 5 games (or 4/7 or 5/9). For each game, the first player to reach 11 points
                wins that game, however a game must be won by at least a two point margin.</p>

            <p>A point is scored after each ball is put into play (not just when the server wins the point as in volleyball).</p>

            <p>The edges of the table are part of the legal table surface, but not the sides.</p>

            <h3>Flow of the match</h3>

            <p>Each player serves two points in a row and then switch server. However, if a score of 10-10 is reached in
                any game, then each server serves only one point and then the server is switched. After each game, the
                players switch side of the table. In the final game (ie 5th game), the players switch side again after
                either player reaches 5 points.</p>

            <h3>Legal serve</h3>

            <p>The ball must rest on an open hand palm. Then it must be tossed up at least 6 inches and struck so the
                ball first bounces on the server's side and then the opponent's side.</p>

            <p>If the serve is legal except that it touches the net, it is called a let serve. Let serves are not scored
                and are reserved.</p>

            <h3>Equipment</h3>

            <p>The paddle should have a red and a black side. The ball should be either orange or white and 40 mm in size.
                The table should be 2.74 meters long, 1.525 m wide, and 0.76 m high.</p>
        </div>
    </div>
    <!-- /.row -->
    <div class="copyright">
        <div class="container">
            <strong><p>You Ping and I'll Pong.</p></strong>
        </div>
    </div>
</div>
</footer>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Bootstrap Core JavaScript -->
</body>

</html>
